button{
    width: 250px;
    height: 100px;
    border-radius: 102px 0px 102px 0px;
    font-size: large;
    border-width: 10px;
    border-color: #005205;
    background-color: #60dd40;
    cursor: pointer;
}

button:hover{
    border-color: #351404 ;
    background-color: #d1620c;
    
}

.css{
    margin-left: 30px;
}

#btn{
    text-align: center;
    margin: 50px;
}